html{
    background-color: #000;
}
.fz12{
    font-size: 12px;
}
.h100{
    height: 100px;
}
.lh100{
    line-height: 100px;
}
.container-fluid{
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}
.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.main-header{
    text-align: center;
    color: #fff;
    line-height: 1;
    position: relative;
}
.header-inner{
    width: 100%;
    /* background: url(../img/bar.png) no-repeat center 70px;
    background-size: 150px auto; */
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 2;
    transform: translate(0, -50%);
}
.header-inner .container{
    /* padding-top: 300px; */
}
.header-inner .container p{
    padding-bottom: 10px;
}
#canvas{
    /* position: absolute;
    left: 0;
    top: 0; */
}
.main-header h1{
    font-size: 60px;
    padding-bottom: 20px;
}
.main-header p{
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(0,0,0,.1);
    font-weight: 300;
}

/* 导航 */
.bs-docs-sidenav>li{
    list-style: none;
}
.bs-docs-sidenav>li>a {
    display: block;
    padding: 4px 10px;
    font-size: 13px;
    font-weight: 500;
    color: #767676;
    margin-left: 10px;
}

.bs-docs-sidenav>li>a:focus, .bs-docs-sidenav>li>a:hover {
    padding-left: 9px;
    color: #eb7199;
    text-decoration: none;
    background-color: transparent;
    border-left: 1px solid #eb7199;
}

/* 图标列表 */
.icon-list{
    overflow: hidden;
}

.icon-list li{
    text-align: center;
    float: left;
    width: 70px;
    height: 100px;
    background-color: #f9f9f9;
    font-size: 12px;
    border: 1px solid #fff;
    padding: 10px;
    transition: all 500ms linear;
    cursor: pointer;
}
.icon-list li:hover{
    background-color: #ccc;
}
.icon-list li i{
    margin-bottom: 5px;
}
.icon-list li span{
    display: block;
}

/* 主题色 */
.them-list li{
    cursor: pointer;
}
.them-list li div{
    width: 200px;
    height: 200px;
}
