$reddataWaring: #fbb724 !default;
$reddataDark: #333333 !default;
$reddataDarkWeak: #666666 !default;
$reddataGray: #999999 !default;
$reddataGrayWeak: #ddd !default;
$reddataWhite: #fff !default;
$reddataMain: #FF6666 !default;
$reddataGreen: #4FB84F !default;
