.them-reddata{
    &.font-waring{
        color: $reddataWaring;
    }
    &.font-dark{
        color: $reddataDark;
    }
    &.font-dark-weak{
        color: $reddataDarkWeak;
    }
    &.font-gray{
        color: $reddataGray;
    }
    &.font-gray-weak{
        color: $reddataGrayWeak;
    }
    &.font-white{
        color: $reddataWhite;
    }
    &.font-main{
        color: $reddataMain;
    }
    &.font-green{
        color: $reddataGreen;
    }

    &.bg-waring{
        background-color: $reddataWaring;
    }
    &.bg-dark{
        background-color: $reddataDark;
    }
    &.bg-dark-weak{
        background-color: $reddataDarkWeak;
    }
    &.bg-gray{
        background-color: $reddataGray;
    }
    &.bg-gray-weak{
        background-color: $reddataGrayWeak;
    }
    &.bg-white{
        background-color: $reddataWhite;
    }
    &.bg-main{
        background-color: $reddataMain;
    }
    &.bg-green{
        background-color: $reddataGreen;
    }
}

.them-global{

}
